.Contact{
  padding: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #FFF8F3;
}
.Contact p{
  font-size: 36px;
}
.Contact a{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 40px;
  color:black;
}
.Contact a:hover{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 40px;
  color: #752AF8;
}