.Home{
  display: block;
  width: 100%;
  padding: 0 0 0 0;
  background: #FFF8F3;
}
.contain{
  justify-content: center;
  margin: 0px;
  width: 100;
  height: inherit;
  background: #AAF8E1;
}
.carousel{
  margin: auto;
  width: 700px;
  display: block;
}
span.carousel.control{
  color: black;
}
.carousel img{
  width: 100%;
  height: 100%;
}
