.Home{
  display: block;
  width: 100%;
  padding: 0 0 0 0;
  background: #FFF8F3;
}
.Home{
 padding-left: 20px;
}

#me {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

}
#me p{
  display: block;
  padding: 30px;
  width: 300px;
  text-align: center;
  font-size: 25px;
  color: black;
}
#me img{
  width: 500px;
  
}
.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 50px;
}
#carousel.row {
  background: #AAF8E1;
}
#carousel.row h2{
  padding: 40px;
}
.carousel{
  margin: 20px;
  padding: 20px;
  height: 300px;
  width: 400px;
  display: block;
  background:gray;
}
.carousel > h2,h3,p{
  width: 100%;
  padding:0px;
}
.carousel > img{
  height: inherit;
  width: inherit;
  overflow: hidden;
}
