
.App h1{
  font-family: 'Pacifico', cursive;
  font-size: 60px;
}
.navBar p{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 40px;
}
/*Navigation Bar*/
.navbar{
  padding: 20px;
  width: 100%;
  background: #FFF8F3;
}
.navbar-collapse.collapse{
  align-self: left;
}
a.nav-link{
  text-align: right;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 36px;
  color: black;
}
