.App{
  background: #FFF8F3;
}
h1{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 55px;
  padding: 40px;
}
.navBar p{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 40px;
}
/*Navigation Bar*/
.navbar{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
}
.navbar-collapse.collapse{
  align-self: left;
}
a.nav-link{
  text-align: right;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 36px;
  color: black;
}
.row{
  margin: 0px;
  width: 100%;
  height: inherit;
}